<html>


    <h1>Data Binding</h1>

    <h3> Interpolation</h3>
    <p>{{mensagem}}</p>
    <p>{{nome}}</p>
    <p>
        {{ano >2023}}
    </p>
    <p>
        {{ano <2023}} </p>
            <p>
                {{ano ==2023}} </p>

            <h3> Property binding</h3>
            <button [disabled]="checkedDisabled"> Button</button>

            <h3> Event Biding</h3>
            <button (click)="alterar($event)"> Alterar </button>

            <h3> two-way Binding</h3>
            <input [(ngModel)]="nome">
            {{nome}}
            
      


<hr>

</html>