<hr>
<h1>Diretivas de atributos</h1>
<h3>NgClass</h3>

<p [ngClass]="'active'">NgClass active</p>
<p [ngClass]="'disable'">NgClass disable</p>
<p [ngClass]="{'active':valor, 'disable':!valor}">NgClass</p>

<h3>NgStyle</h3>
<p [ngStyle]="{'background': cor}">NgStyle</p>

<h3>NgModel</h3>
<input type="text" [(ngModel)]="cor">

<h3>NgTemplate</h3>

<ng-template ngFor let-item [ngForOf]="list">
    <p>{{item.nome}}</p>
</ng-template>

<h3>NgContent</h3>

<ng-content select = "h3"></ng-content>
<ng-content select = "h4"></ng-content>

<h3>Pipe</h3>
<li *ngFor="let item of list">{{item.nome | uppercase}}</li>
<p>{{cor | uppercase}}</p>
<p>{{cor | lowercase}}</p>
<p>{{cor |  titlecase}}</p>
<p>{{date }}</p>
<p>{{date | date: 'dd-MM-yyyy' }}</p>
<p>{{date | date: 'dd/MM/yyyy' }}</p>
<hr>

